.Footer {
  z-index: 2;
}

.ImageInfo {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 0 34px 40px;
  white-space: nowrap;
  cursor: default;
  letter-spacing: -0.5pt;
  cursor: pointer;
  --text-a-color: hsla(0, 0%, 100%, 0.7);
  --text-b-color: hsla(0, 0%, 100%, 0.3);
}

.ImageInfo-image {
  width: 40px;
  height: 40px;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  margin-inline-end: 14px;
}

.ImageInfo-image img {
  object-fit: cover;
}

.ImageInfo-text {
  display: flex;
  flex-direction: column;
  transition: color 0.25s;
}

.ImageInfo-text-title {
  font-size: 14px;
  color: var(--text-a-color);
  margin-bottom: 10px;
}

.ImageInfo-text-author {
  font-size: 13px;
  color: var(--text-b-color);
}
