.KeywordHistory {
  position: absolute;
  top: 50px;
  width: 520px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #000;
  background: hsla(0, 0%, 100%, 0.9);
  text-align: left;
  z-index: 9999;
  border-radius: 0 0 6px 6px;
  border-top: 1px solid rgba(0, 0, 0, 0.0784313725490196);
  padding: 10px;
  visibility: hidden;
}

.KeywordHistory .KeywordHistory-item {
  padding: 4px 16px;
  line-height: 1.75;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-size: 0.9374rem;
  cursor: pointer;
}
