@import url(./css/reset.css);
@import url(./css/clock.css);
@import url(./css/searchInput.css);
@import url(./css/keywordHistory.css);
@import url(./css/Footer.css);

*,
body {
  font-family: sans-serif;
}

#App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Stage-lighting-dark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: inherit;
}

.Stage-lighting-dark::after {
  content: '';
  width: 100%;
  height: 197px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
  pointer-events: none;
}

.Background-Image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  contain: layout paint style;
  pointer-events: none;
}

.Background-Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 1;
  transition: opacity 0.35s;
}
